<!DOCTYPE html>

<md-content ng-controller="GameAssetsController as gameAssetsCtrl" ng-cloak flex>

        <md-list>
            <md-list-item style="min-height:512px">
                <div layout="row">
                    <iframe width="512" height="384" src="https://sketchfab.com/models/9d663239a35a416587af5c33ac9a049e/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

                    <div class="md-list-item-text">
                        <h3>Spaceship</h3>
                        <h4>Space Scene</h4>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>

            <md-list-item style="min-height:512px">
                <div layout="row">

                    <iframe width="512" height="384" src="https://sketchfab.com/models/da5629ea2dda4cdf9ab409a48ba12d2f/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

                    <div class="md-list-item-text">
                        <h3>Ninja</h3>
                        <h4>Low polygon ninja</h4>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>

            <md-list-item style="min-height:512px">
                <div layout="row">

                    <iframe width="512" height="384" src="https://sketchfab.com/models/f321ab23775546b9aa3c30d6c759ffa1/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

                    <div class="md-list-item-text">
                        <h3>Katana</h3>
                        <h4>Low polygon ninja katana</h4>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>

        </md-list>
</md-content>