<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="#/" />
    <link href="Material/Material.css" rel="stylesheet" />
    <link href="app/home/home.css" rel="stylesheet" />
    <title></title>
</head>
<body id="MyApp" ng-app="MyApp" layout="column" layout-fill>
    <!-- libraries  -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Material/Material.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    
    <script src="app/app.js"></script>
    <script src="app/appRoutes.js"></script>

    <!--Controllers-->
    <script src="app/home/home.js"></script>
    <script src="app/about/about.js"></script>
    <script src="index.js"></script>
    <script src="app/gameArt/gameArt.js"></script>
    <script src="app/games/games.js"></script>


    <div ng-controller="IndexController as indexCtrl">
        <md-toolbar class="md-primary md-whiteframe-10dp">
            <div class="md-toolbar-tools">
                <h1>
                    <span>Santiago Roig</span>
                </h1>
            </div>

            <span layout="row" layout-align="center">
                <md-button ng-click="clicked('')">Home</md-button>
                <md-button ng-click="clicked('/games')">Games</md-button>
                <md-button ng-click="clicked('/gameArt')">Game Art</md-button>
                <md-button ng-click="clicked('/about')">About</md-button>
            </span>
        </md-toolbar>
    </div>

    <!--Main Content will go Here-->
    <md-content flex ng-view></md-content>

</body>
</html>
